@import url("http://fonts.googleapis.com/css?family=Share+Tech+Mono");
/* line 17, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Clearfix
-------------------------------------------*/
/* line 6, ../sass/_clearfix.scss */
header, .nav .nav-container, .arrownav, .content {
  *zoom: 1;
}
/* line 8, ../sass/_clearfix.scss */
header:before, .nav .nav-container:before, .arrownav:before, .content:before, header:after, .nav .nav-container:after, .arrownav:after, .content:after {
  content: "";
  display: table;
}
/* line 12, ../sass/_clearfix.scss */
header:after, .nav .nav-container:after, .arrownav:after, .content:after {
  clear: both;
}

/* line 1, ../sass/_base.scss */
.right {
  float: right;
}

/* line 5, ../sass/_base.scss */
.left {
  float: left;
}

/* line 9, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 14, ../sass/_base.scss */
::selection,
::-moz-selection {
  background: #333333;
}

/* line 18, ../sass/_base.scss */
body {
  font-family: 'Share Tech Mono', verdana, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: #999999;
  padding-bottom: 50px;
}
/* line 26, ../sass/_base.scss */
body.dark {
  background: #333333;
}

/* line 31, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 35, ../sass/_base.scss */
.topBackground {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

/* line 42, ../sass/_base.scss */
html {
  overflow-y: scroll;
}

/* line 1, ../sass/_grid.scss */
body {
  min-width: 800px;
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/_grid.scss */
  body {
    min-width: 1200px;
  }
}

/* Containers
----------------------------------------------------------------------------------------------------*/
/* line 10, ../sass/_grid.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
@media screen and (min-width: 1200px) {
  /* line 10, ../sass/_grid.scss */
  .container {
    width: 1200px;
  }
}

/* line 18, ../sass/_grid.scss */
.container-inner {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

/* font
------------------------------------- */
/* line 1, ../sass/modules/_header.scss */
header {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
/* line 7, ../sass/modules/_header.scss */
header a {
  color: #999999;
}

/* line 2, ../sass/modules/_nav.scss */
.nav .nav-container {
  display: block;
  position: relative;
}
/* line 7, ../sass/modules/_nav.scss */
.nav .nav-container + .nav-container {
  margin-top: 20px;
}
/* line 11, ../sass/modules/_nav.scss */
.nav .nav-container .nav-element {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  display: block;
  position: relative;
  float: left;
  width: 200px;
  padding: 10px;
  border: 1px solid white;
  height: 50px;
  color: #999999;
  background: #e6e6e6;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 25, ../sass/modules/_nav.scss */
.dark .nav .nav-container .nav-element {
  border: 1px solid black;
  background: #e6e6e6;
}
/* line 31, ../sass/modules/_nav.scss */
.nav .nav-container .nav-element:hover, .nav .nav-container .nav-element.nav-element-selected {
  background: #333333;
}
/* line 36, ../sass/modules/_nav.scss */
.nav .nav-container .nav-element.nav-element-haschild:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  font-family: verdana;
  content: '^';
  position: absolute;
  top: 5px;
  right: 10px;
}
/* line 45, ../sass/modules/_nav.scss */
.nav .nav-container .nav-element.nav-element-haschild.nav-element-selected:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 10px;
}

/* line 1, ../sass/modules/_arrownav.scss */
.arrownav {
  margin: 30px 0 0 0;
}
/* line 6, ../sass/modules/_arrownav.scss */
.arrownav .left,
.arrownav .right {
  position: relative;
  background: transparent;
  display: block;
  height: 18px;
  width: 10px;
  overflow: hidden;
}
/* line 14, ../sass/modules/_arrownav.scss */
.arrownav .left:after,
.arrownav .right:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  top: 0;
  content: '\0020';
  height: 16px;
  width: 16px;
  border: 1px solid #989a98;
}
/* line 26, ../sass/modules/_arrownav.scss */
.arrownav .left:after {
  left: 4px;
}
/* line 30, ../sass/modules/_arrownav.scss */
.arrownav .right:after {
  right: 4px;
}

/* line 1, ../sass/modules/_breadcrumb.scss */
.breadcrumb {
  margin-top: 20px;
}
/* line 4, ../sass/modules/_breadcrumb.scss */
.breadcrumb .breadcrumb-element {
  display: inline-block;
  text-transform: uppercase;
  line-height: 14px;
}
/* line 9, ../sass/modules/_breadcrumb.scss */
.breadcrumb .breadcrumb-element:after {
  content: '/';
  padding: 0 0 0 8px;
}
/* line 14, ../sass/modules/_breadcrumb.scss */
.breadcrumb .breadcrumb-element a {
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
  background: transparent;
  color: #999999;
}
/* line 19, ../sass/modules/_breadcrumb.scss */
.breadcrumb .breadcrumb-element a:hover {
  color: #333333;
}

/* line 6, ../sass/modules/_content.scss */
.dark .content .content-inner {
  padding: 0 9px;
  border: 1px solid black;
  background: #e6e6e6;
}
/* line 13, ../sass/modules/_content.scss */
.content .content-inner code {
  overflow: auto;
}
/* line 17, ../sass/modules/_content.scss */
.content .content-inner h1 {
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 23, ../sass/modules/_content.scss */
.content .content-inner p {
  line-height: 14px;
}
/* line 25, ../sass/modules/_content.scss */
.content .content-inner p ~ p {
  margin-top: 20px;
}
/* line 29, ../sass/modules/_content.scss */
.content .content-inner .heading {
  font-size: 1.5em;
  line-height: 1.22222222222222em;
}
/* line 34, ../sass/modules/_content.scss */
.content .content-inner a {
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
  color: #999999;
  background: #333333;
  padding: 0 4px;
}
/* line 40, ../sass/modules/_content.scss */
.content .content-inner a:hover {
  color: white;
}
/* line 45, ../sass/modules/_content.scss */
.content .content-inner ~ .content-inner {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  /* line 45, ../sass/modules/_content.scss */
  .content .content-inner ~ .content-inner {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* line 54, ../sass/modules/_content.scss */
  .content .content-inner:first-child {
    width: 360px;
    float: left;
  }
  /* line 58, ../sass/modules/_content.scss */
  .dark .content .content-inner:first-child {
    width: 400px;
  }
  /* line 62, ../sass/modules/_content.scss */
  .content .content-inner:last-child {
    width: 800px;
    float: right;
  }
  /* line 66, ../sass/modules/_content.scss */
  .dark .content .content-inner:last-child {
    width: 800px;
  }
}
/* line 74, ../sass/modules/_content.scss */
.dark .content {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 1, ../sass/modules/_dropdown.scss */
.dropdown {
  position: relative;
  width: 200px;
  height: 50px;
}
/* line 6, ../sass/modules/_dropdown.scss */
.dropdown .dropdown-checkbox {
  position: absolute;
  left: -9999em;
}
/* line 11, ../sass/modules/_dropdown.scss */
.dropdown .dropdown-label {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid white;
  color: #999999;
  background: #e6e6e6;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 23, ../sass/modules/_dropdown.scss */
.dropdown .dropdown-label:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  font-family: verdana;
  content: '^';
  position: absolute;
  top: 5px;
  right: 10px;
}
/* line 32, ../sass/modules/_dropdown.scss */
.dropdown .dropdown-label:hover {
  background: #333333;
}
/* line 35, ../sass/modules/_dropdown.scss */
.dropdown .dropdown-label:hover:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 10px;
}
/* line 44, ../sass/modules/_dropdown.scss */
.dropdown:hover ~ .dropdown-list,
.dropdown .dropdown-checkbox:checked ~ .dropdown-list {
  top: 100%;
}
/* line 49, ../sass/modules/_dropdown.scss */
.dropdown .dropdown-list {
  position: absolute;
  top: -9999em;
  left: 0;
  right: 0;
  z-index: 1000;
}
/* line 57, ../sass/modules/_dropdown.scss */
.dropdown .dropdown-list-element, .dropdown a.dropdown-list-element {
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  transition: background 0.1s ease;
  display: block;
  width: 200px;
  padding: 10px;
  border: 1px solid white;
  height: 50px;
  color: #999999;
  background: #e6e6e6;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 69, ../sass/modules/_dropdown.scss */
.dark .dropdown .dropdown-list-element, .dark .dropdown a.dropdown-list-element {
  border: 1px solid black;
  background: #e6e6e6;
}
/* line 74, ../sass/modules/_dropdown.scss */
.dropdown .dropdown-list-element:hover, .dropdown a.dropdown-list-element:hover {
  background: #333333;
}
